<mat-accordion>
    <mat-expansion-panel [disabled]="true" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-description>
                Create an Invoice
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
            <div class="invoice-wrapper">
                <div>
                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="picker3" [value]="minDate" disabled>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                        <mat-datepicker #picker3></mat-datepicker>
                      </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="form-field">
                        <mat-label>Customer Name</mat-label>
                        <input matInput id="customerName" formControlName="customerName">
                    </mat-form-field>
                </div>
                
                <div>
                    <mat-form-field appearance="fill" class="form-field">
                        <mat-label>Due Date</mat-label>
                        <input matInput [matDatepicker]="picker" id="dueDate" formControlName="dueDate" [min]="minDate">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div>
                <button mat-stroked-button color="primary" type="button" (click)="addItem()">Add Item</button>
            </div>
            <div formArrayName="listItems" class="listitem-wrapper">
                <div *ngFor="let item of listItems.controls; let i=index" [formGroupName]="i">
                    <mat-form-field class="listitem-input">
                        <mat-label>Description</mat-label>
                        <input matInput id="description" formControlName="description">
                    </mat-form-field>
                    <mat-form-field class="listitem-input">
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" id="quantity" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field class="listitem-input">
                        <mat-label>Total Price</mat-label>
                        <input matInput type="number" id="totalPrice" formControlName="totalPrice">
                    </mat-form-field>
                    <button mat-stroked-button color="primary" type="button" (click)="removeItem(i)">Remove Item</button>
                </div>
            </div>
            <div class="error-message">
                <span>{{commonErrorMessage}}</span>
            </div>
            <button mat-flat-button color="warn" type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
            <button mat-flat-button color="primary" type="submit">Save</button>
        </form>
    </mat-expansion-panel>
</mat-accordion>