.listitem-input {
    margin-right: 20px;
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}

.invoice-wrapper {
    margin-bottom: 20px;
}

.invoice-wrapper > div{
    margin-bottom: 20px;
}

.listitem-wrapper {
    margin-top: 20px;
}

.form-field {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.cancel-button {
    margin-right: 20px;
}

.error-message{
    color: red;
    margin-bottom: 20px;
    font-size: large;
}